

<!--<ul>
<% @list.each do |item| %>
<li><%= image_tag item.icon+'.png' %><%= item.icon %></li>
<li> <%= item.desc + " " + item.temp.to_s + " " + item.wind_dir + " " + item.date.strftime('%D') %> </li>
<% end %>
</ul>

<h2>Weather</h2>
<hr style="width: 50%"/>-->

<table id="current">
  <tr>
    <th rowspan="1"><%= image_tag @current.icon+'.png' %></th>
    <th><%= @current.temp.to_i %>°</th>
    <td><%= @current.desc %><br/>
      <span style="font-weight:lighter;"><%= @current.wind_dir %></span>
      <div class="windDir" id="<%= @current.wind_dir %>">
        &#8593
      </div>
    </td>
  </tr>
</table>

<di id="weather_list">
  <table>
  <% @list[0..1].each do |item| %>
    <tr>
      <th rowspan="2"><%= image_tag item.icon+'.png' %></th>
      <td style="border-bottom: 1px solid grey;">
        Tomorrow <%= item.date.hour == 18 ? "afternoon" : "morning" %>
        <span><%= item.date.strftime('%e') %></span>
        <%= item.date.strftime('%b') %>
      </td>
    <tr>
      <td> <%= item.desc %> <span><%= item.temp.to_i.to_s %>°</span> <%= item.wind_dir %></td>
    </tr >
  <% end %>
  <% @list[2..3].each do |item| %>
    <tr>
      <th rowspan="2"><%= image_tag item.icon+'.png' %></th>
      <td style="border-bottom: 1px solid grey;">
        <%= item.date.strftime('%A') %>
        <%= item.date.hour == 18 ? "afternoon" : "morning" %>
        <span><%= item.date.strftime('%e') %></span>
        <%= item.date.strftime('%b') %>
      </td>
    <tr>
      <td> <%= item.desc %> <span><%= item.temp.to_i.to_s %>°</span> <%= item.wind_dir %></td>
    </tr >
  <% end %>
  </table>
</div>
